extends layout 
block content 

  .narrow-body
    h1.text-center #{gear[id].name}
    
    .container
      .row
        //- carousel
        .col
          #gearCarousel.carousel.slide
            //- images
            .carousel-inner 
              each pic, idx in gear[id].pictures
                .carousel-item
                  img.card-img-top(src='/images/gear/' + pic + '.jpg' alt="Image coming soon")

            //- next/prev buttons
            button.carousel-control-prev(type='button' data-bs-target='#gearCarousel' data-bs-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.visually-hidden Previous
            button.carousel-control-next(type='button' data-bs-target='#gearCarousel' data-bs-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.visually-hidden Next

        .col
          //- desc
          h4 Description
          if gear[id].desc
            p #{gear[id].desc}
          else
            i No description listed.

          //- materials
          h4 Materials
          if gear[id].materials
            ul
            each mat in gear[id].materials
              li #{mat}
          else
            i No materials listed.
          
          //- weight
          h4 Weight
          if gear[id].weight
            p #{gear[id].weight} oz
          else 
            i No weight listed.

      //- thumbnails
      .row
        .gear-thumbnails.container-fluid
          each picName, idx in gear[id].pictures 
            img.img-thumbnail(src='/images/gear/' + picName + '.jpg' alt="Image coming soon" onclick=`setActivePic(${idx})`)

      
    script(src='..//javascripts/bagadonuts.js')